:root {
    --main-color: #5ea3d0;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: 	var(--main-text-color); 
}






